# Insert, Update, and Delete Data in a Database

## Scenario
The database operations team has created a relational database called world containing three tables:<br> 
city, country, and countrylanguage.<br> You have to validate the configuration of the database by running<br> INSERT, UPDATE, and DELETE statements on the country table.

## Lab overview and objectives
This lab demonstrates how to insert, update, delete, and import rows of data using structured query language (SQL).<br>

After completing this lab, you will be able to:<br>

1. Insert rows into a table
2. Update rows in a table
3. Delete rows from a table
4. Import rows from a database backup file

When you start this lab, the following resources are already created for you:<br>
<img src="img/architecture-start (1).jpg" style = height:400px><br>
A Command Host instance and world database containing three tables

At the end of this lab, your architecture will look like the following example:<br>
<img src = "img/architecture-end (1).jpg" style = height:400px><br>
A lab user is connected to a database instance. Insert, Update, and Delete operations are shown.<br>

Sample data in this course is taken from Statistics Finland, general regional statistics, February 4, 2022.<br>

## Duration
This lab requires approximately 45 minutes to complete.<br>

## AWS service restrictions
In this lab environment, access to AWS services and service actions might be restricted to the ones that you need to complete the lab instructions.<br> You might encounter errors if you attempt to access other services or perform actions beyond the ones that this lab describes.

## Task 2: Insert data into a table
In this task, you insert sample data into the country table.<br>

13. To verify that the country table is empty, run the following command.<br> The SELECT statement is used to identify the columns that should be included in the result set.<br> The use of the * denotes all columns.<br> The FROM clause is used in the following example to specify the database and table that is queried.<br>
>>SELECT * FROM world.country;
The table should be empty because it was just created.<br>

14. To insert rows into the country table, run the following commands.<br> The values in the VALUES clause need to be in the same order as defined by the table schema.<br>

>>INSERT INTO world.country VALUES ('IRL','Ireland','Europe','British Islands',70273.00,1921,3775100,76.8,75921.00,73132.00,'Ireland/Ã‰ire','Republic',1447,'IE');

>>INSERT INTO world.country VALUES ('AUS','Australia','Oceania','Australia and New Zealand',7741220.00,1901,18886000,79.8,351182.00,392911.00,'Australia','Constitutional Monarchy, Federation',135,'AU');<br>

15. To verify that two rows were successfully inserted into the country table, run the following query.<br>
>>SELECT * FROM world.country;

## Task 3: Update rows in a table
In this task, you update both rows in the country table using an UPDATE statement.<br>

16. To set the value in the Population column to 0 for both rows in the country table, run the following UPDATE statement.<br> 
>>UPDATE world.country SET Population = 0;<br>

All rows are updated because the UPDATE statement does not include a WHERE condition.<br> A WHERE clause uses conditions to filter rows returned by a query.<br> The next lab introduces the WHERE clause.

17. To verify that the Population column in the country table was updated, run the following command.<br>
>>SELECT * FROM world.country;<br>
18. To update the Population and SurfaceArea columns for all rows in the country table, run the following UPDATE statement.<br>
>>UPDATE world.country SET Population = 100, SurfaceArea = 100;<br>

19. To verify that the Population and SurfaceArea columns in the country table were updated, run the following command.<br>
>>SELECT * FROM world.country;<br>

## Task 4: Delete rows from a table
In this task, you delete both rows in the country table using a DELETE statement.<br>

Exercise caution when using data manipulation statements such as UPDATE and DELETE because these changes may not be reversible. <br>

20. To delete ALL rows from the country table, run the following command.<br> 
>>DELETE FROM world.country;

Because the DELETE statement does not include a WHERE condition, all rows are deleted.<br>

21. To verify that all rows have been deleted from the country table, run the following command.<br>
>>SELECT * FROM world.country;