# Working with Functions

## Scenario
The database operations team has created a relational database named world containing three tables:<br> city, country, and countrylanguage.<br> Based on specific use cases in the lab exercise,<br> you write a few queries using database functions with the SELECT statement and WHERE clause.

## Lab overview and objectives
This lab demonstrates how to use some common database functions with the SELECT statement and WHERE clause.<br>

After completing this lab, you should be able to:<br>

1. Use aggregate functions SUM(), MIN(), MAX(), and AVG() to summarize data
2. Use the SUBSTRING_INDEX() function to split strings
3. Use the LENGTH() and TRIM() functions to determine the length of a string
4. Use the DISTINCT() function to filter duplicate records
5. Use functions in the SELECT statement and WHERE clause

When you start the lab, the following resources are already created for you:<br>
<img src="img/architecture-start (4).jpg" style="height:400px"><br>
A Command Host instance and world database containing three tables

At the end of this lab, you would have used the SELECT statement and WHERE clause with some common database functions:
<img src="img/architecture-end (4).jpg" style="height:400px"><br>
A lab user is connected to a database instance. It also displays some commonly used SQL database functions.

## Task 2: Query the world database
In this task, you query the world database using various SELECT statements and database functions.<br> You use a function to process and manipulate data in a query.<br> There are a wide range of SQL functions, and this lab reviews a subset of commonly used functions.

12. To show the existing databases, enter the following command in the terminal.<br>
>>SHOW DATABASES;
    
Verify that a database named world is available. If the world database is not available, contact your instructor.

13. To review the table schema, data, and number of rows in the country table, run the following query.
>>SELECT * FROM world.country;

14. The following query demonstrates how to use aggregate functions SUM(), MIN(), MAX(), and AVG() to summarize data.<br> Because the query does not include a WHERE condition,<br> the functions aggregate data from all records in the country table. Run the following query.<br>

>>SELECT sum(Population), avg(Population), max(Population), min(Population), count(Population)<br>
>>FROM world.country;

1. SUM() adds all the population values together.
2. AVG() generates an average across all the population values.
3. MAX() finds the row with the highest population value.
4. MIN() finds the row with the lowest population value.
5. COUNT() finds the number of rows with a population value.

15. In some cases, you might need to split a string.<br> The following query uses SUBSTRING_FUNCTION() to spilt a string where a space occurs. Run the following query.
>>SELECT Region, substring_index(Region, " ", 1)<br>
>>FROM world.country;

After you run the query, you notice that the second column includes the beginning of each region name.

16. Sometimes you may need to search rows using a string fragment.<br> The following query includes SUBSTRING_FUNCTION() as part of a condition in the WHERE clause to filter records that include Southern in the first part of the region name. Run the following query.<br>

>>SELECT Name, Region<br> 
>>from world.country<br>
>>WHERE substring_index(Region, " ", 1) = "Southern";

You can use the LENGTH() and TRIM() functions to determine how many characters are in a string.<br> TRIM() clears leading and trailing blank spaces, and the LENGTH() function returns a count of the remaining characters.<br> The next example returns only regions that have fewer than 10 characters in their names. Run the following query.

>>SELECT Region<br> 
>>FROM world.country<br> 
>>WHERE LENGTH(TRIM(Region)) < 10;

18. You might have noticed duplicate records in the previous example.<br> You can use the DISTINCT() function to filter the duplicates. Run the following query.

>>SELECT DISTINCT(Region) <br>
>>FROM world.country <br>
>>WHERE LENGTH(TRIM(Region)) < 10;

## Challenge
Query the country table to return a set of records based on the following requirement.<br>

Write a query to return rows that have Micronesian/Caribbean as the name in the region column.<br> The output should split the region as Micronesia and Caribbean into two separate columns:<br> one named Region Name 1 and one named Region Name 2.

>>SELECT Name, substring_index(Region, "/", 1) as "Region Name 1",substring_index(region, "/", -1) as "Region Name 2"<br> FROM world.country<br> 
>>WHERE Region = "Micronesia/Caribbean";

## Conclusion
Congratulations! You have now successfully:<br>

1. Used aggregate functions SUM(), MIN(), MAX(), and AVG() to summarize data
2. Used the SUBSTRING_INDEX() function to split strings
3. Used the LENGTH() and TRIM() functions to determine the length of a string
4. Used the DISTINCT() function to filter duplicate records
5. Used functions in the SELECT statement and WHERE clause